
<div class="jumbotron" id="jumbotron-image">
  <div class="container push-spaces">


    <div class="panel panel-primary panel-transparent">
      <div class="panel-body">
        <h2><div class="body-text"> The days of looking through pages of search results only to find outdated, incorrect, time draining and misleading are going to be lessened by the learnatizer.  Here you input a problem, an associated error, a valuable resource and the solution for all to see.  Also use the learnatizer to view tips from others.
      </div></h2>
      </div>
    </div>

  </div>
</div>


  <%= render 'concepts/tiles' %>
