
<div class="jumbotron" id="jumbotron-image">
  <div class="container push-spaces">


    <div class="panel panel-primary panel-transparent">
      <div class="panel-body">
        <h2><div class="body-text"> Immersive boot camps are extremely difficult! <br>However, those who participate in them experience very similar challenges and successes.  With the learnatizer we can now organize our growing pains and joys by category, in order to collaborate with others.
      </div></h2>
      </div>
    </div>

  </div>
</div>

<div class="directive"><h1 class="text-center">Choose the concept below that interests you</h1>

</div>
  <%= render 'concepts/tiles' %>
