

<div class="jumbotron">
  <h1>Jumbotron</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <!--<img ?? one of the pictures of the floor of the iron yard>-->
  <!--might need a transparent background with a small text box explaining what the app does in the middle-->
</div>




  <%= render 'concepts/tiles' %>
