
<div class="jumbotron">
  <div class="container push-spaces">
    The days of looking through pages of search results only to find outdated, incorrect, misleading and time drains are going to be lessened by the learnatizer.  Here you input some valuable resource, solved error or otherwise useful tip and then you can see what tips others have offered you.
  </div>
</div>



  <%= render 'concepts/tiles' %>
