
#form-body {
  padding-top: 90px;
}

body {
  background:#c33;
}

.panel-transparent {
  background: none;
  background-color: rgba(35, 47, 64, 0.5)!important;
}


.body-text{
  color: rgba(255, 255, 255, 1.0);
  opacity: 1.0;
}

#jumbotron-image {
    background-image: url("IronYard.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 500px
}
.push-spaces
{
    height: 100px;
}

body {
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
    margin-bottom: 30px;
}


.thumb .thumbnail {
    width: 250px;
    height: 200px;
    text-align: center;
    padding-top: 45px;
    color: #FFFFFF;
}

footer {
    margin: 50px 0;
}

.concept_title  {
  width: 750px;
  height: 100px;
  text-align: center;
  padding-top: 4px;
}

#myTabContent {
  margin-bottom: 150px;
}

.thumb.scope {
  background-color: #d9534f;
}
.thumb.model {
  background-color: #A26EDC;
}
.thumb.coffeescript {
  background-color: #4e5d6c;
}
.thumb.gems {
  background-color: #df691a;
}
.thumb.ruby {
  background-color: #5bc0de;
}
.thumb.amazon-S3 {
  background-color: #f0ad4e;
}
.thumb.github {
  background-color: #d9534f;
}
.thumb.heroku {
  background-color: #A26EDC;
}
.thumb.forms {
  background-color: #4e5d6c;
}
.thumb.controllers {
  background-color: #df691a;
}
.thumb.active-record {
  background-color: #5cb85c;
}
.thumb.testing {
  background-color: #5bc0de;
}
.thumb.oop {
  background-color: #f0ad4e;
}
.thumb.recources {
  background-color: #d9534f;
}
.thumb.carrierwave {
  background-color: #A26EDC;
}
.thumb.html {
  background-color: #4e5d6c;
}
.thumb.css {
  background-color: #df691a;
}
.thumb.scaffolding {
  background-color: #5cb85c;
}
.thumb.sql {
  background-color: #5bc0de;
}
.thumb.rails-file-structure {
  background-color: #f0ad4e;
}
.thumb.jquery {
  background-color: #d9534f;
}
.thumb.views {
  background-color: #A26EDC;
}
.thumb.authentication {
  background-color: #4e5d6c;
}
.thumb.authorization {
  background-color: #df691a;
}
.new-tip-btn {
  right: 0px;
}

