//http://css-tricks.com/snippets/css/style-placeholder-text/
#tip_title::-webkit-input-placeholder {
  color: #730E15;
}
#tip_problem::-webkit-input-placeholder {
  color: #730E15;
}
#tip_error::-webkit-input-placeholder {
  color: #730E15;
}
#tip_solution::-webkit-input-placeholder {
  color: #730E15;
}
