<%= link_to 'back', concept_path(@concept), class: 'btn btn-primary btn-lg' %>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-4 col-md-10 col-md-offset-2">
      <div class="concept_title thumb <%= @concept.concept %>">
        <h1><center><div class="heading">new tip for <%= @concept.concept %></div></center></h1>
        <div class="col-md-10 col-md-offset--1">
          <%= render 'form' %>

        </div>
      </div>
    </div>
  </div>
</div>